.TaskBox
{
    display: block;
    border: 1px solid #000;
    padding: 2px;
    margin: 5px;
    text-align: left;
    
}
 

.Tasktitre
{ 
    float:left;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    margin-right: 5px;
}

.TasktitreBarre
{ 
    float:left;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    margin-right: 5px;
    text-decoration:line-through;
}
 
.TaskStatusBas
{
    float:left;
    font-size: 10px;
    font-variant: small-caps;
    font-style: italic;
    margin-left: 5px;
    color:green;
}

.TaskStatusNormal
{
    float:left;
    font-size: 10px;
    font-variant: small-caps;
    font-style: italic;
    margin-left: 5px;
    color:orange;
}

.TaskStatusUrgent
{
    float:left;
    font-size: 10px;
    font-variant: small-caps;
    font-style: italic;
    margin-left: 5px;
    color:red;
}

.TaskDescription
{ 
    clear: both; 
    text-align: left;
 
    padding: 0px;

}

.TaskDescriptionBarre
{ 
    clear: both; 
    text-align: left;
 
    padding: 0px;
    text-decoration:line-through;
}

.TaskHidden
{
    display:none;
}

.TaskFinished
{
    text-align: center;
    display: block;
    font-size: 20px;
    color:green;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}